@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-DemiIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-MediumIt.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-ThinIt.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro UltLight";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-UltLt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro UltLight";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-UltLtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-HeavyIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/.alt/Linotype - AvenirNextLTPro-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
