@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-DemiIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-MediumIt.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-ThinIt.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro UltLight";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-UltLt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro UltLight";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-UltLtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-HeavyIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/alt/AvenirNextLTPro-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
