.form{
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    justify-content: space-around;
    height: 100%;

    @media (min-width: 768px) {
        margin: 0 10%;
    }
    @media (min-width: 768px) {
        margin: 0 25%;
    }

    &__holder{
        margin-top: 1.7rem;
        width: 20%;
        display: flex;
        justify-content: flex-end;
        margin-left: 5%;
        @media (min-width: 768px) {
            width: 10%;
            margin-left: 15%;
        }
        &--image{
            height: 50px;
            width: 50px;
            border-radius: 50px;
            @media (min-width: 768px) {
                height: 100px;
                width: 100px;
            }
            @media (min-width: 768px) {
                height: 48px;
                width: 48px;
            }
        }
    }
    &__input{
        display: flex;
        flex-direction: column;
        width: 70%;

        &--box{
            border-radius: 5px;
            height: 3rem;
        }
    
        &--items{
            display: flex;
            flex-direction: column;
            width: 100%; 
            margin-top: 1rem;             
    }
    }

    &__button{
        display: flex;
        @media(min-width: 768px){
            justify-content: flex-end;
        }
        &--black{
            margin-top: 1rem;
            width: 100%;
            height: 3rem;
            background-color: $color-black;
            color: $color-white;
            border-color: $color-black;
            border-radius: 5px;
            font-size: 1rem;
    

            @media (min-width: 768px) {
            width: 40%;
            }
        }
    }
}

.input__special{
    height: 5rem;
    @media (min-width: 768px) {
        height: 3rem;
}
}

.comment{
    &__heading{
        font-size: 1rem;
        margin: 3rem 0 3.5rem 0;
        @media(min-width: 768px){
            margin: 1.6rem;
        }
    }
}


.output{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/* 
  <section class="reviews">
    <div class="reviews__container">
        <div class="review__container--image">
        <div>
        <div class="review__display">
            <h4 class="reviews__container--heading">Micheal Lyons</h4>
            <p class="reviews__content">They BLEW the ROOF off at their last show, once everyone started figuring out they were going. This is still simply the greatest opening of a concert I have EVER witnessed.</p>
        </div>
    </div>
  
       */


      .output {
          width: 288px;
          margin-left: 40%;
      }


      .review__container{
   

          &--image{
            background-color: gray;
            height: 32rem;
            width: 32rem;
          }
      }