.form{
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    justify-content: space-around;
    height: 100%;

    @media (min-width: 768px) {
        margin: 0 10%;
    }
    @media (min-width: 768px) {
        margin: 0 25%;
    }

    &__holder{
        margin-top: 1.7rem;
        width: 20%;
        display: flex;
        justify-content: flex-end;
        margin-left: 5%;
        @media (min-width: 768px) {
            width: 10%;
            margin-left: 15%;
        }
        &--image{
            height: 50px;
            width: 50px;
            border-radius: 50px;
            @media (min-width: 768px) {
                height: 100px;
                width: 100px;
            }
            @media (min-width: 768px) {
                height: 48px;
                width: 48px;
            }
        }
    }
    &__input{
        display: flex;
        flex-direction: column;
        width: 70%;

        &--box{
            border-radius: 5px;
            height: 3rem;
        }
    
        &--items{
            display: flex;
            flex-direction: column;
            width: 100%; 
            margin-top: 1rem;             
    }
    }

    &__button{
        display: flex;
        @media(min-width: 768px){
            justify-content: flex-end;
        }
        &--black{
            margin-top: 1rem;
            width: 100%;
            height: 3rem;
            background-color: $color-black;
            color: $color-white;
            border-color: $color-black;
            border-radius: 5px;
            font-size: 1rem;
    

            @media (min-width: 768px) {
            width: 40%;
            }
        }
    }
}

.input__special{
    height: 5rem;
    @media (min-width: 768px) {
        height: 3rem;
}
}

.comment{
    &__heading{
        font-size: 1rem;
        margin: 3rem 0 3.5rem 0;
        @media(min-width: 768px){
            margin: 1.6rem;
        }
    }
}

// reviews 
// .reviews{
//     margin: 0 1rem;
//     @media(min-width: 768px){
//         margin: 0 25% 0 35%;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//     }
//     &__container{
//         width: 224px;
//         margin: 0 auto;
//     }
   
// }