// hero headings below nav
.shows {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(../../assets/images/shows-hero.jpeg);
    background-position: center;
    background-size: cover;
    height: 29.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (min-width: 768px) {
      align-items:flex-start ;
    }
    @media (min-width: 1200px) {
      flex-direction: row;
      height: 41.875rem;
      padding: 0 10%;
    }
    // width: 100%;
  
    &__container {
      // display: flex;
      // align-items: center;
      color: white;
      // height: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      @media (min-width: 768px) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        // margin-left: 0;
      }
      @media (min-width: 1200px) {
        padding-right: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        margin: 10rem 0;
      }
    }
    
    &__heading-sub{
      margin-top: 4rem;
    }
  
    &__heading {
      // display: flex;
      // align-self: center;
      margin-bottom: 0;
      color: white;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__iframe{
      margin: 0 1rem 4rem 1rem;
      height: 150;
      @media (min-width: 1200px) {
        display: flex;
        justify-content: center;
      }
      &--item{
        border: 8px solid white;
        width: 288px;
        border-radius: 5px;
      @media (min-width: 768px) {
        margin: 0 5%;
        width: 350px;
      }

      @media (min-width:1200px) {
        width: 436px;
        margin-left: 4rem;
        margin-top: 35%;
        // align-self: center;
      }
    }
  }
}
//venue details
.venue{
  margin: 0 5%;

  @media (min-width: 1200px) {
    display: flex;
    width: 1080px;
    justify-content: space-between;
    margin-top: 3rem;
  }

  &__heading{
    margin-top: 2rem;
    margin-bottom: 2.5rem;

    @media (min-width: 1200px) {
      margin-left: 5%;
  }
}
}

.container{
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 1200px) {
    width: 804px;
  }

  &__details{
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0 1rem 0;
    }
  }
  &__dateholder{
    @media (min-width: 768px){
      width: 20%;
    }
    display: flex;
    flex-direction: column;

    &--date{
      color: $color-silver;
     
    }
    &--exact-date{
      margin: 1rem 0 1.5rem 0;
      color: $color-black;
    }
  }
  &__venueholder{
    @media (min-width: 768px){
      width: 20%;
    }
      &--venue{
        color: $color-silver;
      
      }

      &--exact-venue{
        margin: 1rem 0 1.5rem 0;
        color: $color-black;
      }
  }
  &__locationholder{
    @media (min-width: 768px){
      width: 20%;
    }
      &--location{
        color: $color-silver;
        
      }
      &--exact-location{
        margin-top: 1rem;
        color: $color-black;
      }
  }
  &__buttonholder{
    @media (min-width: 768px){
      width: 20%;
    }
    display: flex;
      &--button{
        margin: 2rem 0 1rem 0;
        height: 3rem;
        width: 18rem;
        background-color: $color-black;
        color: $color-white;
        border-radius: 5px;
        @media (min-width: 768px) {
          width: 100%;
          margin: 0;
        }
      }

  }
}