// hero headings below nav
.shows {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(../../assets/images/shows-hero.jpeg);
    background-position: center;
    background-size: cover;
    height: 29.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // width: 100%;
  
    &__container {
      // display: flex;
      // align-items: center;
      color: white;
      height: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      @media (min-width: 768px) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }
      @media (min-width: 1200px) {
        padding-right: 0px;
        padding-left: 0px;
      }
    }
    
    &__heading-sub{
      margin-top: 4rem;
    }
  
    &__heading {
      // display: flex;
      // align-self: center;
      margin-bottom: 0;
      color: white;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__iframe{
      margin: 0 1rem 4rem 1rem;
      border: 8px solid white;
    }
  }

//venue details
.venue{
  margin: 2rem 1rem 2.5rem 1rem;
}